@using IBITest.Models
@model IBITest.Models.BankCountryModel


<style>
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #023D04; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; border:groove }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #129917), color-stop(1, #95BDA1) );background:-moz-linear-gradient( center top, #129917 5%, #95BDA1 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#129917', endColorstr='#95BDA1');background-color:#129917; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #41A839; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #7AB37A; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #376B0F; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #023D04;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

</style>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}


<h1 class="content-wrapper" style="padding-bottom:30px; color:#8ee9b9" >@Html.ActionLink("Login", "Login", "CommonBiz")</h1>
<h1 class="content-wrapper">View Branch Details</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script >
    function GetCity(_cityId) {
        if (_cityId > 0) {
        var procemessage = "<option value='0'> Processing..</option>";
        $("#ddlbranch").html(procemessage).show();
        var url = "/CommonBiz/GetBranchNamebyCity/";
       
            $.ajax({
                url: url,
                data: { cityid: _cityId },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#ddlbranch").find('option').remove().end();
                    $("#ddlbranch").append("<option value = '0' >" + "--Select--" + "</option>");
                    for (var x = 0; x < data.length; x++) {
                        $("#ddlbranch").append("<option value = '" + data[x].Value + "' >" +data[x].Text + " </option>");
                        
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    }

    function GetBranch(_branchId) {
       
        var url = "/CommonBiz/GetBranchDetails/";
        if (_branchId > 0) {
            $.ajax({
                url: url,
                data: { branchid: _branchId },
                cache: false,
                type: "POST",
                success: function (data) {

                    $('#mytable tbody > tr').remove();
                    $('#mytable').append(
                         "<tr>" +
                             "<th colspan='2'>Branch Details</th>" +                             
                         "</tr>");

                    var trhtml = "<tr> <td> Branch Name </td> <td>" + data.BranchName + "</td> </tr> <tr> <td> City Name </td> <td> " + data.CityName + "</td> </tr> <tr><td> Address </td> <td>" + data.Address + "</td></tr> <tr> <td> Contact Number </td><td> " + data.ContactNumber + "</td></tr> <tr>  <td>Email </td><td> " + data.Email + "</td> </tr>";
                    $('#mytable').append(trhtml);

                },
                error: function (reponse) {

                    alert("error : " + reponse);
                }
            });
        }
    }
</script>

<div class="content-wrapper" style="padding-top:20px">

    <p>Select City: &nbsp&nbsp&nbsp&nbsp&nbsp @Html.DropDownList("ddlstate", new SelectList(Model.CityModel, "Id", "CityName"), "--Select--", new { @id = "ddlstate", @style = "width:200px;", @onchange = "javascript:GetCity(this.value);" })</p>
   
     <p>Select Branch: &nbsp @Html.DropDownList("ddlbranch", new SelectList(Model.BranchModel, "Id", "BranchName"), "--Select--", new { @id = "ddlbranch", @style = "width:200px;" , @onchange = "javascript:GetBranch(this.value);" })</p>
    
<br />
    <br />

    <div class="datagrid" style="max-width:50%;">
     <table id ="mytable">    
        <tbody>
        </tbody>

     </table>
   </div>
</div>

<br />
<br />
<div class="content-wrapper">

    <br />
    @using (Html.BeginForm("ValidateToken","CommonBiz"))
    { 
        <label> Register with Token</label>
        <input type="text" name="token" />
        <input type="submit" value="Register" class="button button-style1" />
    }
   
</div>
