@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

@Html.ActionLink("Login", "Login","CommonBiz")
<h1>View Branch Details</h1>
<div>
    <p style="float:left;">Select city</p>
    
</div>

