@using IBITest.Models
@model IBITest.Models.BankCountryModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}


<h1 class="content-wrapper" style="padding-bottom:30px; color:#8ee9b9" >@Html.ActionLink("Login", "Login", "CommonBiz")</h1>
<h1 class="content-wrapper">View Branch Details</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script >
    function GetCity(_cityId) {
        if (_cityId > 0) {
        var procemessage = "<option value='0'> Processing..</option>";
        $("#ddlbranch").html(procemessage).show();
        var url = "/CommonBiz/GetBranchNamebyCity/";
       
            $.ajax({
                url: url,
                data: { cityid: _cityId },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#ddlbranch").find('option').remove().end();
                    $("#ddlbranch").append("<option value = '0' >" + "--Select--" + "</option>");
                    for (var x = 0; x < data.length; x++) {
                        $("#ddlbranch").append("<option value = '" + data[x].Value + "' >" +data[x].Text + " </option>");
                        
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    }

    function GetBranch(_branchId) {
       
        var url = "/CommonBiz/GetBranchDetails/";
        if (_branchId > 0) {
            $.ajax({
                url: url,
                data: { branchid: _branchId },
                cache: false,
                type: "POST",
                success: function (data) {

                    $('#mytable thead').remove();

                    $('#mytable').append(
                        "<thead>" +
                         "<tr>" +
                             "<th>Branch Name</th>" +
                             "<th>City Name</th>" +
                             "<th>Address</th>" +
                             "<th>Contact Number</th>" +
                             "<th>Email</th>" +                             
                         "</tr>" +
                       "</thead>");

                    var trhtml = "<tr> <td>" + data.BranchName + "</td> <td> " + data.CityName + "</td> <td>" + data.Address + "</td><td> " + data.ContactNumber + "</td><td> " + data.Email + "</td> </tr>";
                    $('#mytable tbody > tr').remove();
                    $('#mytable').append(trhtml);

                },
                error: function (reponse) {

                    alert("error : " + reponse);
                }
            });
        }
    }
</script>

<div class="content-wrapper" style="padding-top:20px">

    <p>Select City: &nbsp&nbsp&nbsp&nbsp&nbsp @Html.DropDownList("ddlstate", new SelectList(Model.CityModel, "Id", "CityName"), "--Select--", new { @id = "ddlstate", @style = "width:200px;", @onchange = "javascript:GetCity(this.value);" })</p>
   
     <p>Select Branch: &nbsp @Html.DropDownList("ddlbranch", new SelectList(Model.BranchModel, "Id", "BranchName"), "--Select--", new { @id = "ddlbranch", @style = "width:200px;" , @onchange = "javascript:GetBranch(this.value);" })</p>
    
<br />
    <br />

 <table id ="mytable" class ="display">
    
     <tbody>


     </tbody>

 </table>
</div>

<br />
<br />
<div class="content-wrapper">

    <br />
    @using (Html.BeginForm("ValidateToken","CommonBiz"))
    { 
        <label> Register with Token</label>
        <input type="text" name="token" />
        <input type="submit" value="Register" class="button button-style1" />
    }
   
</div>
