@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
<script>
    /*  jQuery ready function. Specify a function to execute when the DOM is fully loaded.  */
    $(document).ready(
      /* This is the function that will get executed after the DOM is fully loaded */
      function () {
          /* Next part of code handles hovering effect and submenu appearing */
          $('.nav li').hover(
            function () { //appearing on hover
                $('ul', this).fadeIn();
            },
            function () { //disappearing on hover
                $('ul', this).fadeOut();
            }
          );
      }
    );
</script>


<!doctype html>
<html>
  <head>
    <!-- Load jQuery from Google's CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <!-- Source our javascript file with the jQUERY code -->
    
  </head>
  <body>
    <!-- Use this navigation div as your menu bar div -->
  	<div class="navigation">
  		<ul class="nav">
  			<li>
  				<a href="/Customer/Dashboard">My Dashboard</a>
  			</li>

  			<li>
  				<a href="#">Fund Manager</a>
  				<ul>
  					<li><a href="#">Add Payee</a></li>
  					<li><a href="#">Transfer Funds</a></li>
  				</ul>
  			</li>

  			<li>
  				<a href="#">Requests Manager </a>  	
                <ul>
  				    <li><a href="#">Apply for new account</a></li>
  				    <li><a href="#">Request account transfer</a></li>
  				    <li><a href="#">Request closure of account</a></li>
  				    <li><a href="#">View requests status</a></li>
  			    </ul> 			
  			</li>

            <li>
  			    <a href="#">Profile Manager</a>
  			    <ul>
  				    <li><a href="#">View or Update Profile</a></li>
  				    <li><a href="#">Change Password</a></li>
  			    </ul>
  		    </li>

            <li>
  			<a href="#">Value Added Services</a>
  			    <ul>
  				    <li><a href="#">Apply for loans</a></li>
  				    <li><a href="#">Money Manager</a></li>
  			    </ul>
  		    </li>

  		</ul>
  	</div>
  </body>
</html>



<style>

    h1 {
  font-family: Helvetica;
  font-weight: 100;
}
body {
  color:#333;
  text-align:center;
  font-family: arial;
}

.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.nav li {
	float: left;
	width: 190px;
	position: relative;
}

.nav li a {
	background: #333;
	color: #fff;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
	border-top: 1px solid #069;
}

.nav li a:hover {
	color: #069;
}

/*=== submenu ===*/

.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li {
	width: 190px;
	float: left;
}

.nav ul a {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #222;
}

.nav ul li a:hover {
	color: #069;
}


</style>