@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    //function LoadOfSavingAccountTable()
    $("#tableOfSavingAccounts").ready()
    {
        //alert("load table called");
        $.ajax({
            url: "/Customer/GetListOfSavingAccounts",
            //data: { requestType: requestType },
            cache: false,
            type: "POST",

            success: function (data) {
                $("#tableOfSavingAccounts").empty();
                $("#tableOfSavingAccounts").append('<tr><th>Account Number</th><th>Balance</th><th>Mini/Detailed statements</th></tr>');
                $("#AccountDetailsLabel").text("Savings Account Details");
                for (var x = 0; x < data.length; x++) {                   

                    $("#tableOfSavingAccounts").append('<tr><td>' + data[x].accountNumber + '</td><td>' + data[x].balance + '</td><td><a href =@Url.Action("MiniDetailedstatements","Customer")>Mini/Detailed Statements<a></td></tr>');
                }
            },
            error: function (reponse) {
              //  alert("error12 : " + reponse);
            }
        });
    }
</script>
<h1>Customer DashBoard</h1>

<br />

<h2>Requests Status</h2>
<p> Approved Requests: @ViewBag.approvedRequests</p>
<p>Rejected Requests: @ViewBag.rejectedRequests</p>
<p>Pending Requests: @ViewBag.pendingRequests</p>


<br />
<h2 id ="AccountDetailsLabel"></h2>
<div class="datagrid">    
    <table id="tableOfSavingAccounts" >

    </table>
</div>
