@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

<h2>Customer DashBoard</h2>
@Html.ActionLink("Create New Account","CreateNewAccount","Customer")


