@{
    ViewBag.Title = "UpdateUserOrTransactionPassword";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function SubmitForm()
    {
        var passwordType = $("form input:checked").val();
        var newPassword = $("#newPassword").val();
        var oldPassword = $("#oldPassword").val();
        var confirmNewPassword = $("#confirmNewPassword").val();
        //alert(passwordType);
        if (!(newPassword.length >= 8 && newPassword.length<=15))
        {
            alert("New Password length must be between 8 to 15 characters");
            return;
        }
        if (newPassword != confirmNewPassword)
        {
            alert("New Passwords dont match")
            return;
        }
        $.ajax({
            url: "/Customer/UpdateUserOrTransactionPassword",
            data: { oldPassword: oldPassword, newPassword: newPassword, passwordType: passwordType },
            cache: false,
            type: "POST",
            success: function (data) {
                alert(data);
                $("#oldPassword").val("");
                $("#newPassword").val("");
                $("#confirmNewPassword").val("");
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
        
    }
</script>
<h2>Update User Or Transaction Password</h2>
<form action="javascript:SubmitForm()">
    <br/>
    <input type="radio" class="radiolist" name="passwordType" value="userPassword" checked />User Password
    <input type="radio" class="radiolist" name="passwordType" value="transactionPassword" />Transaction Password
    <br/>
    <br/>
    <label>Old Password</label>
    <input type="password" id="oldPassword" required/>
    <br/>
    <label>New Password</label>
    <input type="password" id="newPassword" required/>
    <br/>
    <label>Confirm New Password</label>
    <input type="password" id="confirmNewPassword" required/>
    <br/>
    <button type="submit">Change Password</button>
</form>

