@{
    ViewBag.Title = "ViewRequestStatus";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $("#tableOfNewAccountRequests").ready()
    {
        $.ajax({
            url: "/Customer/GetListOfNewAccountRequests",
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.length == 0) {
                    return;
                }
                $("#tableOfNewAccountRequests").empty();
                $("#tableOfNewAccountRequests").append('<tr><th>Request ID</th><th>Submission Date</th><th>Status</th></tr>');
                $("#labelNewAccountRequests").text("New Account requests");
                for (var x = 0; x < data.length; x++) {
                    $("#tableOfNewAccountRequests").append('<tr><td>' + data[x].accountNumber + '</td><td>' + data[x].balance + '</td><td>' + data[x].balance + '</td></tr>');
                }
            },
            error: function (reponse) {
                alert("error12 : " + reponse);
            }
        });
    }
</script>
<h2>View Request Status</h2>
<br />
<h2 id ="labelNewAccountRequests"></h2>
<div class="datagrid">    
    <table id="tableOfNewAccountRequests" >

    </table>
</div>
<h2 id ="labelLoanRequests"></h2>
<div class="datagrid">    
    <table id="tableOfLoanRequests" >

    </table>
</div>
<h2 id ="labelClosureOfAccountRequests"></h2>
<div class="datagrid">    
    <table id="tableOfClosureOfAccountRequests" >

    </table>
</div>