@model IBITest.Models.TranferOfAccountAdminView
@{
    ViewBag.Title = "ApproveOrRejectRequests";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function getListOfRequests(requestType) {
        if (requestType == "") {
            alert("You selectd request type none");
            $("#mytable").empty();
            return;
        }
        alert("You selectd request type " + requestType);
        if(requestType=="TOC")
        {
            $.ajax({
                url: "/Admin/GetTransferOfAccountAdminRequest",
                data: { requestType: requestType },
                cache: false,
                type: "POST",
                success: function (data) {
                        $("#mytable").empty();
                        $("#mytable").append('<tr><th>Select</th><th>RequestID</th><th>CustomerID</th><th>AccountNumber</th><th>FromBranch</th><th>ToBranch</th></tr>');
                        for (var x = 0; x < data.length; x++) {
                            $("#mytable").append('<tr><td><input type="checkbox" name="Select" value="' + data[x].requestID + '"/></td><td>' + data[x].requestID + '</td><td>' + data[x].customerID + '</td><td>' + data[x].accountNumber + '</td><td>' + data[x].fromBranch + '</td><td>' + data[x].toBranch + '</td></tr>');
                        }
                },
                error: function (reponse) {
                            alert("error : " + reponse);
                }
            });
    }
    else
    {
            $.ajax({
                url: "/Admin/GetClosureOfAccountAdminRequest",
                data: { requestType: requestType },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#mytable").empty();
                    $("#mytable").append('<tr><th>Select</th><th>RequestID</th><th>CustomerID</th><th>AccountNumber</th></tr>');
                    for (var x = 0; x < data.length; x++) {
                        $("#mytable").append('<tr><td><input type="checkbox" name="Select" value="' + data[x].requestID + '"/></td><td>' + data[x].requestID + '</td><td>' + data[x].customerID + '</td><td>' + data[x].accountNumber + '</td></tr>');
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
    }


    }
    function Approve() {
        var selected = $("#mytable input:checked").length;
        var requestType = $("#dropdown").val();
        if (selected == 0 || requestType=="") {
            alert("You have not selected anything")
            return;
        }
        else {
            //alert from
            //remove confirm list
            //call method
            //verify list of requestd's
            //change their satus in db
            alert("Confirm!! You chosen " + selected + " requests to approve");
            //alert("requestid's are "+$("#mytable input:checked")[0].value)
            var selected = [];
            $('#mytable input:checked').each(function () {
                selected.push($(this).attr('value'));
            });
            $('#mytable input:checked').each(function () {
                $(this).parent().parent().remove();
            });
            if (requestType == "TOC") {
                $.ajax({
                    url: "/Admin/ApproveTOC",
                    data: { approveRequestList: selected },
                    cache: false,
                    type: "POST",
                    traditional: true,
                    success: function (data) {

                        alert("Approved successfully" + data)
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }
            else//requestType = COA
            {
                $.ajax({
                    url: "/Admin/ApproveCOA",
                    data: { approveRequestList: selected },
                    cache: false,
                    type: "POST",
                    traditional: true,
                    success: function (data) {

                        alert("Approved successfully" + data)
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }

        }
    }
    function Reject() {
        var selected = $("#mytable input:checked").length;
        var requestType = $("#dropdown").val();
        if (selected == 0 || requestType == "") {
            alert("You have not selected anything")
            return;
        }
        else {
            //alert from
            //remove confirm list
            //call method
            //verify list of requestd's
            //change their satus in db
            alert("Confirm!! You chosen " + selected + " requests to approve");
            //alert("requestid's are "+$("#mytable input:checked")[0].value)
            var selected = [];
            $('#mytable input:checked').each(function () {
                selected.push($(this).attr('value'));
            });
            $('#mytable input:checked').each(function () {
                $(this).parent().parent().remove();
            });
            if (requestType == "TOC") {
                $.ajax({
                    url: "/Admin/RejectTOC",
                    data: { approveRequestList: selected },
                    cache: false,
                    type: "POST",
                    traditional: true,
                    success: function (data) {

                        alert("Rejected successfully" + data)
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }
            else//requestType = COA
            {
                $.ajax({
                    url: "/Admin/RejectCOA",
                    data: { approveRequestList: selected },
                    cache: false,
                    type: "POST",
                    traditional: true,
                    success: function (data) {

                        alert("Rejected successfully" + data)
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }

        }
    }
</script>
<h2>Approve Or Reject Requests</h2>
<label>Request type</label>
@Html.DropDownList("RequestTypeDropdownList", new SelectList(ViewBag.requestTypeList, "Value", "Text"),"--Select--", new{@id="dropdown",@onchange="javascript:getListOfRequests(this.value)" })
<table border="1" id="mytable">
</table>
<button onclick="Approve()">Approve</button>
<button>Reject</button>
