@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

<h2>Admin DashBoard</h2>
<br />
<br />


<br />

<div style="border:groove; width:30%">
<h3>Number of Branch Transfer Requests : <a href="/Admin/ApproveOrRejectRequests">@ViewBag.BranchTransferRequests</a></h3>

<h3>Number of Account Closure Requests : <a href="/Admin/ApproveOrRejectRequests">@ViewBag.AccountClosureRequests</a></h3>
    <br />
</div>
