@{
    ViewBag.Title = "ViewOrUpdateBranchDetails";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

<h2>View Branch Details</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(document).ready(
        function ()
        {
            $.ajax({
                url: "/Admin/GetListOfBranch",
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data != null) {
                        for(var x=0;x<data.length;x++)
                            $("#branchDetails").append("<tr><td>" + data[x].branchCode + "</td><td>" + data[x].branchName + "</td><td>" + data[x].cityName + "</td><td>" + data[x].address + "</td><td>" + data[x].contactNumber + "</td><td>" + data[x].bankerName + "</td><td>" + data[x].email + "</td></tr>")
                    }
                    else
                    {
                        
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    );
</script>
<div class="datagrid">
    <table id="branchDetails">
        <tr>
            <th>Branch Code</th>
            <th>Branch Name</th>
            <th>City</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Banker Name</th>
            <th>Email</th>
        </tr>
    </table>
</div>