@{
    ViewBag.Title = "CreditDebitCustomerAccount";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(document).ready()
    {
        /*
        $("#creditButton").prop('disabled', false);
        $("#debitButton").prop('disabled', true);
        */
    }
    var accountType;
    function getTypeOfAccount(accountNumber)
    {
        //alert("You selected account number " + accountNumber);
        if (accountNumber <= 0)
        {
            swal("Error","Account number must be positive","warning");
            return;
        }
        $.ajax({
            url: "/Banker/GetAccountType",
            data: { accountNumber: accountNumber },
            cache: false,
            type: "POST",
            success: function (data) {
                accountType=data;
                if (data == "S") {
                    $("#creditButton").prop('disabled', false);
                    $("#debitButton").prop('disabled', false);
                }
                else if (data == "L") {
                    $("#creditButton").prop('disabled', false);
                    $("#debitButton").prop('disabled', true);
                }
                else
                {
                    swal("Error","Account number does not exist","error");
                    $("#creditButton").prop('disabled', true);
                    $("#debitButton").prop('disabled', true);
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    
    function SubmitFormCredit()
    {

        var accountNumber = $('#form1 #AccountNumber').val();
        var reenterAccountNumber = $('#form1 #ConfirmedAccountNumber').val();
        if (accountNumber != reenterAccountNumber)
        {
            swal("Error","Account numbers dont match","warning")
            return;
        }
        var amount = $('#form1 #Amount').val();
        var remarks = $('#form1 #Remarks').val();
        var CreditOrDebit = 'C';
        //alert(accountNumber + " " + amount + " " + remarks + " " + CreditOrDebit);
        $.ajax({
            url: "/Banker/SetBalance",
            data: { accountNumber: accountNumber, amount: amount, accountType:accountType,CreditOrDebit:CreditOrDebit,remarks: remarks },
            cache: false,
            type: "POST",
            traditional: true,
            success: function (data) {
                if (data == "Credit Successful" || data == "Debit successful" || data == "Credit Successful and Closed account") {
                    swal("Success", data, "success");
                }
                else {
                    swal("Error", data, "error");
                }

                $('#AccountNumber').val("");
                $('#ConfirmedAccountNumber').val("");
                $('#Amount').val("");
                $('#Remarks').val("");
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });       
    }
    function SubmitFormDebit()
    {
        var accountNumber = $('#form1 #AccountNumber').val();
        var reenterAccountNumber = $('#form1 #ConfirmedAccountNumber').val();
        if (accountNumber != reenterAccountNumber) {
            swal("Error","Account numbers dont match","warning");
            return;
        }
        var amount = $('#form1 #Amount').val();
        var remarks = $('#form1 #Remarks').val();
        var CreditOrDebit = 'D';
        //alert(accountNumber + " " + amount + " " + remarks + " " + CreditOrDebit);
        $.ajax({
            url: "/Banker/SetBalance",
            data: { accountNumber: accountNumber, amount: amount, accountType:accountType,CreditOrDebit:CreditOrDebit,remarks: remarks },
            cache: false,
            type: "POST",
            traditional: true,
            success: function (data) {
                if (data == "Credit Successful" || data == "Debit successful" || data == "Credit Successful and Closed account") {
                    swal("Success", data, "success");
                }
                else {
                    swal("Error", data, "error");
                }
                $('#AccountNumber').val("");
                $('#ConfirmedAccountNumber').val("");
                $('#Amount').val("");
                $('#Remarks').val("");
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function secondAccountNumberChanged(confirmedAccountNumber)
    {
        if (confirmedAccountNumber <= 0)
        {
            swal("error","Account number must be positive","warning");
            return;
        }
        if ($('#form1 #AccountNumber').val() != confirmedAccountNumber)
        {
            swal("Error","Account Numbers don't match","error");
        }
    }
    function amountChanged(amount)
    {
        if (amount <= 0)
        {
            swal("Error","Amount must be positive","warning");
            return;
        }
    }

</script>
<h2>Credit - Debit Customer Account</h2>
<form id="form1" action ="javascript:SubmitForm()">
    
    <label>Customer Account Number</label>
    <input id="AccountNumber" type="number" min="1" onchange='getTypeOfAccount(this.value)' required/>
    <br />

    <label>Re-enter Account Number</label>
    <input id ="ConfirmedAccountNumber" min="1" type="number" onchange="secondAccountNumberChanged(this.value)" required />
    <br />
    
    <label>Amount</label>
    <input id="Amount" type="number" min="1" max="25000" onchange="amountChanged(this.value)" required/>
    <br />
    
    <label>Remarks</label>
    <textarea id="Remarks" maxlength="100" required></textarea>
    <br />
    
    <button type="submit"  id="creditButton" formaction ="javascript:SubmitFormCredit()" disabled>Credit</button>
    <button type="submit"  id="debitButton" formaction ="javascript:SubmitFormDebit()" disabled >Debit</button>

</form>
