@{
    ViewBag.Title = "SearchCustomerDetails";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var current="name";
    function RadioToggled(radioSelection)
    {
        current = radioSelection;
        //alert("change selection " + radioSelection);
        if (radioSelection == "name")
        {
            $("#queryString").show();
            $("#searchButton").show();
            $("#detailsTable").empty();
        }
        if (radioSelection == "accountNo")
        {
            $("#queryString").show();
            $("#searchButton").show();
            $("#detailsTable").empty();
        }
        if (radioSelection == "loans")
        {
            $("#queryString").hide();
            $("#searchButton").hide();
            $("#detailsTable").empty();
            //fillHeader();
            $.ajax({
                url: "/Banker/GetCustomersWithLoan",
                //data: { queryName: queryString },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data == null) {
                        swal("No records", "No records to display !", "warning");
                    }
                    else {
                        fillHeader();
                        filldata(data);
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
        if (radioSelection == "locked")
        {
            $("#queryString").hide();
            $("#searchButton").hide();
            $("#detailsTable").empty();
            $.ajax({
                url: "/Banker/GetCustomerWithLockedUserID",
                //data: { queryName: queryString },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data == null) {
                        //alert("No records found");
                    }
                    else {
                        fillHeader();
                        filldata(data);
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    }
    function fillHeader()
    {
        $("#detailsTable").append("<tr><th>Account Number</th><th>Customer Name</th><th>Permanent Address</th><th>Communication Address</th><th>Contact No</th><th>Email</th></tr>");//<th>More Info</th>
    }
    function filldata(data)
    {
        for (var x = 0; x < data.length; x++)
        {
            $("#detailsTable").append("<tr><td>" + data[x].accountNumber + "</td><td>" + data[x].customerName + "</td><td>" + data[x].permanentAddress + "</td><td>" + data[x].communicationAddress + "</td><td>" + data[x].contactNumber + "</td><td>" + data[x].email + "</td></tr>");//<td>View Account details</td>
        }
    }
    function Search()
    {
        //alert("I am here");
        //var queryType = $(".radiolist").val();
        //alert(current);
        $("#detailsTable").empty();
        var queryString = $("#queryString").val();
        //alert("You searched for " + queryString);

        if (current == "name")
        {
            $.ajax({
                url: "/Banker/GetCustomersByName",
                data: { queryName: queryString },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data == null) {
                        //alert("No records found");
                    }
                    else
                    {
                        fillHeader();
                        filldata(data);
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
        else//current=accountNO
        {
            if (isNaN(queryString) == true)
            {
                swal("Error","Account number is not valid","warning");
                return;
            }
            $.ajax({
                url: "/Banker/GetCustomerByAccountNo",
                data: { accountNo: queryString },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data == null) {
                        //alert("No records found");
                    }
                    else {
                        fillHeader();
                        filldata(data);
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
            
        }
    }

</script>
<h2>Search Customer Details</h2>
<br />
<form id="options">
    <input type="radio" class="radiolist" name="searchCriteria" onchange="RadioToggled(this.value)" value="name" checked />Name
    <br />
    <input type="radio" class="radiolist" name="searchCriteria" onchange="RadioToggled(this.value)" value="accountNo" />Account No
    <br />
    <input type="radio" class="radiolist" name="searchCriteria" onchange="RadioToggled(this.value)" value="loans" />Customer With Loans
    <br />
    <input type="radio" class="radiolist" name="searchCriteria" onchange="RadioToggled(this.value)" value="locked" />UserID Locked Customer
    <br />
</form>
<form action="javascript:Search()" method="post">
    <input id="queryString" type="text" required/>
    <button id="searchButton" type="submit">Search</button>
</form>

<div class="datagrid">
<table id="detailsTable">
    
</table>
</div>