
<p> Request Status: @Html.DropDownList("status", new SelectList(Model.CityModel, "Id", "CityName"), "--Select--", new { @id = "ddlstate", @style = "width:200px;", @onchange = "javascript:GetCity(this.value);" })
</p>